@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.line {
  fill: none;
  stroke: #000;
  stroke-width: 4;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 4;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 4;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 4;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 4;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 4;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 4;
}
.scrollbar::-webkit-scrollbar {
  width: 15px;
  height: 20px;
  background-color: rgb(230, 230, 230);
  padding: 2px;
  margin: 2px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: black;
  padding: 2px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #666666;
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
}
.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  top: -1px;
  left: 0;
  background-color: #020bb0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.add_content_btn {
  @apply bg-white text-zinc-800 font-bold py-2 px-4  cursor-pointer border-dashed border-zinc-800 border-2 min-w-[200px] hover:bg-gray-300 duration-300;
}
.add_image_btn {
  @apply bg-white text-zinc-800 font-bold py-2 px-4  cursor-pointer border-dashed border-zinc-800 border-2 w-full h-[60vh] hover:bg-gray-300 duration-300;
}
.icon-link {
  @apply flex flex-row items-center text-white;
}
.icon {
  @apply h-4 w-4 mr-6;
}
.text-square {
  @apply text-justify;
}
@keyframes moveFromRight {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-50%);
  }
}

.animation-move-to-bottom {
  animation: moveFromRight 0.5s ease-in-out forwards;
}
/* animate translateX 100% and finish at -50% */
